<footer class="w-full py-4 mt-8">
  <hr class="border-t"></hr>

  <div id="bottom-links" class="flex justify-between p-4">
    <div id="sitemap" class="flex space-x-4">
      <a href="/rentals" class="hover:text-gray-900">Rentals</a>
      <a href="/rentals/list" class="hover:text-gray-900">Editor</a>
      <a href="/cart" class="hover:text-gray-900">Cart</a>
      <a href="/signup" class="hover:text-gray-900">Sign Up</a>
      <a href="/login" class="hover:text-gray-900">Login</a>
      <a href="/welcome" class="hover:text-gray-900">Welcome</a>
    </div>
    
    <div id="socials" class="flex space-x-4">
      <a href="https://www.facebook.com/" class="text-blue-600 hover:text-blue-800">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/" class="text-pink-600 hover:text-pink-800">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.x.com/" class="text-blue-400 hover:text-blue-600">
        <i class="fab fa-x-twitter"></i>
      </a>
    </div>
  </div>

  <div id="legal" class="text-sm p-4 justify-center text-center">
    <p>
      By submitting this assignment I declare that this assignment is my own
      work in accordance with the Seneca Academic Policy. No part of this
      assignment has been copied manually or electronically from any other
      source (including web sites) or distributed to other students. CC.
      Ashton Lunken, ashtonquinn@disroot.org, WEB322 Winter 2023
    </p>
  </div>
</footer>