<footer>
    <hr></hr>
    <div id="bottom-links">
      <div id="sitemap">
        <a href="#rentals">Rentals</a>
        <a href="#signup">Sign Up</a>
        <a href="#login">Login</a>
      </div>
      <div id="socials">
        <a href="https://www.facebook.com/"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://www.instagram.com/"
          ><i class="fab fa-instagram-square"></i
        ></a>
        <a href="https://www.twitter.com/"
          ><i class="fab fa-twitter-square"></i
        ></a>
      </div>
    </div>
    <div id="legal">
      <p>
        By submitting this assignment I declare that this assignment is my own
        work in accordance with the Seneca Academic Policy. No part of this
        assignment has been copied manually or electronically from any other
        source (including web sites) or distributed to other students. CC.
        Ashton Lunken, ashtonquinn@disroot.org, WEB322 Winter 2023
      </p>
    </div>
</footer>