<div id="hero">
    <div class="hero-overlay"></div>
    <img src="/hero.avif" alt="a picture of a favela" width="100%" />
    <div class="hero-content">
      <h1>
        Join Vlbo today. Make the cost-of-living crisis worse, as a treat.
      </h1>
      <div id="signup-button">
        <a href="/signup">List your property</a>
      </div>
    </div>
  </div>