<div class="hero min-h-screen" style="background-image: url('/images/hero.png');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Join Vlbo today.</h1>
      <p class="mb-5">Make the cost-of-living crisis worse, as a treat.</p>
      <button class="btn btn-primary"><a href="/signup">List your property</a></button>
    </div>
  </div>
</div>