<nav id="navbar" class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/">
      <img src="/images/logo.svg" alt="Vlbo Logo" style="height: 2.5rem;">
    </a>
  </div>
  
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/rentals"><i class="fa-solid fa-list text-primary"></i> Rentals</a></li>
      <% if (!user) { %>
        <li><a href="/signup"><i class="fa-solid fa-users text-primary"></i> Sign Up</a></li>
        <li><a href="/login"><i class="fa-solid fa-circle-user text-primary"></i>Log In</a></li>
      <% } %>
      <% if (user && user.clerk_mode === "false") { %>
        <li><a href="/cart"><i class="fa-solid fa-shopping-cart text-primary"></i> Cart</a></li>
        <% } %>
      <% if (user && user.clerk_mode === "true") { %>
        <li><a href="/rentals/list"><i class="fa-solid fa-edit text-primary"></i> Editor</a></li>
      <% } %>
      <% if (user) { %>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket text-primary"></i>Log Out</a></li>
      <% } %>
    </ul>
  </div>
</nav>
