<%- contentFor('body') %>

<a href="/rentals/list"><button class="btn btn-secondary w-full">Back</button></a>

<div class="flex justify-center">
    <div class="card w-full max-w-xs">
      <div class="card-body">
            <div class="form-control">
                <form action="/rentals/add" method="POST" type="submit">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text">Headline</span>
                </label>
                <input type="text" id="headline" name="headline" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text"># Sleeps</span>
                </label>
                <input type="number" id="numSleeps" name="numSleeps" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text"># Bedrooms</span>
                </label>
                <input type="number" id="numBedrooms" name="numBedrooms" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text"># Bathrooms</span>
                </label>
                <input type="number" id="numBathrooms" name="numBathrooms" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text">Price per Night</span>
                </label>
                <input type="number" id="pricePerNight" name="pricePerNight" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text">City</span>
                </label>
                <input type="text" id="city" name="city" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text">Province</span>
                </label>
                <input type="text" id="province" name="province" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control mt-4">
                <label class="label">
                  <span class="label-text">Province</span>
                </label>
                <input type="url" id="imageUrl" name="imageUrl" class="input input-bordered input-primary w-full">
            </div>

            <div class="form-control">
                <label class="label cursor-pointer">
                  <span class="label-text">Featured</span> 
                  <input type="checkbox" id="featured" name="featured" class="toggle toggle-lg toggle-primary" checked />
                </label>
            </div>

            

            <div class="form-control mt-4">
                <button class="btn btn-primary w-full" type="submit">Add</button>
            </div>      

        </div>
    </div>
</div>

