<%- contentFor('body') %>

<%- include("partials/hero.ejs") %> 
<center>
<h1 class="text-3xl font-bold my-8">Our promises to you</h1>
</center>

<div class="carousel flex flex-col sm:flex-row" data-flickity='{ "wrapAround": true }'>

  <div class="carousel-cell">
    <div class="card">
      <div class="card-body">
        <i class="fas fa-check text-3xl text-yellow-500"></i>
        <h3 class="card-title">Peace of mind</h3>
        <p class="card-text">
          We work hard to train the least helpful support team possible, available 10am-12pm on the third Thursday of every month.
        </p>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="card">
      <div class="card-body">
        <i class="fas fa-dollar-sign text-3xl text-yellow-500"></i>
        <h3 class="card-title">Seamless payment</h3>
        <p class="card-text">
          At Vlbo, our patented W2W (Wallet-to-Wallet) technology streamlines
          the payment process. It is as instantaneous as it is painful.
        </p>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="card">
      <div class="card-body">
        <i class="fas fa-home text-3xl text-yellow-500"></i>
        <h3 class="card-title">Subjugate the nons</h3>
        <p class="card-text">
          We promise that every time you rent with us, you're making your city
          more unaffordable. Doesn't it feel good to make a quick buck?
        </p>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="card">
      <div class="card-body">
        <i class="fas fa-info-circle text-3xl text-yellow-500"></i>
        <h3 class="card-title">Please don't sue me</h3>
        <p class="card-text">
          This website is just satire I actually don't hate short term rentals
          you guys are cool.
        </p>
      </div>
    </div>
  </div>
  
</div>

<div class="carousel flex flex-col sm:flex-row mx-auto justify-center" data-flickity='{ "wrapAround": true }'>
  <div class="flex flex-wrap ">
    <% for(let new_card of featured_rentals) {%>
      <div class="carousel-cell">
        <%- include('./partials/rental', {rental: new_card}) %>
      </div>
    <% } %>
  </div>
</div>