<%- include ("partials/hero.ejs") %> 
<h1>Our promises to you</h1>

<div class="info">
  <i class="fa fa-check-circle"></i>
  <h3>Peace of mind</h3>
  <p>
    Each stay with us will be distinctly unpleasant! We work hard to train
    the least helpful support team possible, available 10am-12pm on the
    third Thursday of every month
  </p>
</div>

<div class="info">
  <i class="fa fa-dollar-sign"></i>
  <h3>Seamless payment</h3>
  <p>
    At Vlbo, our patented W2W (Wallet-to-Wallet) technology streamlines
    the payment process. The process is as instantaneous as it is painful
  </p>
</div>

<div class="info">
  <i class="fa fa-home"></i>
  <h3>Subjugate the nons</h3>
  <p>
    We promise that every time you rent with us, you're making your city
    more unaffordable. Doesn't it feel good to make a quick buck?
  </p>
</div>

<div class="info">
  <i class="fa fa-info-circle"></i>
  <h3>Please don't sue me</h3>
  <p>
    This website is just satire I actually don't hate short term rentals
    you guys are cool.
  </p>
</div>

<div id="rentals">
  <% include ("partials/rental_cards.ejs") %>
</div>
