<%- contentFor('body') %>

<h1>Sign Up</h1>
<h3>Create your account by entering your email address and choosing a password</h3>
<input type="text" id="fname" placeholder="First Name"><br><br>
<input type="text" id="lname" placeholder="Last Name"><br><br>
<input type="text" id="email" placeholder="Email Address"><br><br>
<input type="text" id="password" placeholder="Password"><br><br>
<input type="submit" value="Sign up">
