<%- contentFor('body') %>


<div class="carousel flex flex-col sm:flex-row mx-auto justify-center" data-flickity='{ "wrapAround": true }'>
    <div class="flex flex-wrap">
        <% if (!all_rentals || all_rentals.length === 0) { %>
            <p>No data</p>
        <% } else { %>
        <% for(let id of all_rentals) {%>
            <div class="carousel-cell">
                <%- include('./partials/rental', {rental: id}) %>
            </div>
        <% }
        }%>
    </div>
</div>