<%- contentFor('body') %>
<center>
    <div class="carousel flex flex-col sm:flex-row mx-auto justify-center" data-flickity='{ "wrapAround": true }'>
        <div class="flex flex-wrap">
            <% all_rentals.forEach(group => { %>
                <% group.rentals.forEach(rental => { %>
                    <div class="carousel-cell">
                        <%- include('./partials/rental', {rental}) %>
                    </div>
                <% }) %>
            <% }) %>
        </div>
    </div>
</center>
