<%- contentFor('body') %>

<div class="flex justify-center">
  <div class="card w-full max-w-xs">
    <div class="card-body">
      <h1 class="text-3xl font-bold my-8 text-center mb-4">Create an account</h1>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input type="text" id="name" class="input input-bordered input-primary w-full">
      </div>

      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input type="text" id="email" class="input input-bordered input-primary w-full">
      </div>

      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input type="password" id="password" class="input input-bordered input-secondary w-full">
      </div>

      <div class="form-control mt-4">
        <a href ="/welcome"> <button class="btn btn-primary w-full">Sign up</button> </a>
      </div>
    </div>
  </div>
</div>