<%- contentFor('body') %>
<center>
    <h1 class="text-3xl font-bold my-8 text-center mb-4">Welcome to Vlbo, <%= name %>! This feature's a little underbaked but I hope that it's good enough to get a 2/2</h1>
</center>