<!DOCTYPE html>
<html lang="en-US" data-theme="bumblebee">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Find your dream vacation rentals with Vlbo. With at least three entire rental properties, you will surely might find something."
    />
    <link
      type="image/x-icon"
      href="/images/favicon.ico"
      sizes="16x16 32x32"
      rel="icon"
    />
    <link
      type="image/x-icon"
      href="/favicon.ico"
      sizes="16x16 32x32"¬
      rel="shortcut icon"
    />
    <link rel="stylesheet" href="/styles/vlbo_stylesheet_tw.css" />
    <script src="https://kit.fontawesome.com/98c978cc05.js" crossorigin="anonymous"></script>
    <title>Vlbo | Book your vacation rentals: favelas, squats, hobbitholes & more.</title>
  </head>
  <body>
    <%-  include ("../partials/navbar.ejs") %>
    <div id="content">
        <%- body %>
    </div>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
